<div class="col s10 offset-s1 center">

  <% if @scores.empty? %>
    <h2>No scores available</h2>
  <% else %>
    <h1>Leaderboard for "<%= @scores.first.level.name %>"</h1>

    <table class="centered bordered highlight">
      <thead>
        <tr>
          <th>Score</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.value %></td>
            <td><%= score.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <br />
  <% end %>

</div>
