<div class="center-align">
  <h4>Level <span class="grey-text">"<%= @level.name %>"</span></h4>
  <h6>by <span class="grey-text"><%= @level.user.email %></span></h6>

  <div class="row"></div>
</div>
