<% provide(:title, "Editing level \"#{@level.name}\"") %>

<h2 class="center">Editing level <span class="grey-text">"<%= @level.name %>"</span></h2>

<%= render 'form', level: @level, button_title: 'Update' %>
