<h3>Level #<%= @level.id %> - "<%= @level.name %>"</h3>
<h5 class="grey-text">Author: <%= @level.user.email %></h5>

<canvas id="tutorial" width="800" height="600"></canvas>

<%= javascript_include_tag level_path(@level, format: :js) %>
