<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= render 'layouts/rails_defaults' %>
  </head>

  <body>
    <div class="row">
      <%= render 'layouts/menu' %>
      <%= yield %>
    </div>
  </body>
</html>
